<ul class="list" id = 'test'>
{% for person in recommendations %}


    <li class="list-item" id = listEl data-link="{% url 'profile-detail' person.bacnet_id %}">
      <div>
        <img src="{{person.profile_pic.url}}", class="list-item-image" >
      </div>
      <div class="list-item-content" >



        <h4>{{person.name}}</h4>
        <p>{{person.gender}}</p>
        <p>{{person.town}}</p>
          <p></p>


          <button class = "button" id = "button" onclick=follow("{{person.bacnet_id}}")>
              Follow!
          </button>

 </div>

    </li>
      {% endfor %}
    </ul>


<script>

    function follow(x){
       $('.list-item').off('click');
       alert("Not yet implemented in Backend!")
    }



    $(".list-item").click(function() {
        location.href = $(this).data('link');
    })











</script>