{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>




{% endblock %}


{% block content %}
<div class="container">
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="follow-heading"></h2>
                    <div class="follow-heading-text">  The following people might be interesting for you:.</div>
                </div>
            </div>
        </div>
    </div>





<p id="demo"></p>




 <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">


    <div>
        <h6 class="p-1 border-bottom">Filter By</h6>
        <p class="mb-2">Gender</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action mb-2 rounded"  id = "GenderFemale" value = "female" onclick = genderBasedFilter("female")> <span class="fa fa-circle pr-1" ></span>Female </li>
            <li class="list-group-item list-group-item-action mb-2 rounded" id = "GenderMale" value = "male" onclick = genderBasedFilter("male")> <span class="fa fa-circle pr-1" id="male"></span>Male </li>

            <p class="mb-2">Name</p>

            <input type="text" value= "" id='searchName' placeholder="search Name" />
                <button onclick="nameQuery()">Search Name</button>
            <p id="d"></p>

            <p class="mb-2">Town</p>

            <input type="text" value= "" id='srchTown' placeholder="search Town"  />
                <button onclick="townQuery()">Search Town</button>

            <p id="a"></p>
             <li class="list-group-item list-group-item-action mb-2 rounded" id = "ResetButton" value = "reset" onclick = genderBasedFilter("")> <span class="fa fa-circle pr-1" id="reset"></span>Reset </li>





        </ul>
    </div>


            </div>
            <div class="col-md-6">
                {% include "./FollowBody.html" %}
            </div>
        </div>





</div>
</div>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = document.getElementById("searchbox").value;
}

// MAKE AN AJAX CALL TO VIEWS.PY
        function nameQuery() {

            var text = "nq" +document.getElementById("searchName").value;



            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }

        function townQuery() {

            var town = "tq" +document.getElementById("srchTown").value;



            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: town},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }



         function genderBasedFilter(value) {

             var gender = value;


            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: gender},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }


</script>


{% endblock content %}