{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <!--
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>
    -->

{% endblock %}

{% block content %}

    <div class="container">

      <div class="row">

        <div class="col-md-4">

            <h4 class="content-section-title">Filter</h4>
            <div class="content-section" id="usersContentSection">

                <h6 class="p-1 border-bottom" style="margin-bottom: 20px;">Filter By</h6>

                <div class="followFilters">

                    <p class="mb-2">Gender</p>

                    <ul class="list-group">
                        <li class="list-group-item mb-2 rounded" id = "GenderFemale" value = "female" onclick = genderBasedFilter("female")> <span class="fa fa-circle pr-1 f" ></span>Female </li>
                        <li class="list-group-item mb-2 rounded" id = "GenderMale" value = "male" onclick = genderBasedFilter("male")> <span class="fa fa-circle pr-1" id="male"></span>Male </li>
                        <li class="list-group-item mb-2 rounded" id = "GenderOther" value = "other" onclick = genderBasedFilter("other")> <span class="fa fa-circle pr-1" id="other"></span>Other </li>
                    </ul>

                    <p class="filterTitle">Name</p>
                    <div class="searchInputDiv">
                        <input type="text" class="searchInput" id="searchInputFieldName" name="searchInput" placeholder="Search Name">
                    </div>

                    <p class="filterTitle">Town</p>
                    <div class="searchInputDiv">
                        <input type="text" class="searchInput" id="searchInputFieldTown" name="searchInput" placeholder="Search Town">
                    </div>

                    <p class="filterTitle">HopLayer</p>
                    <div>
                        <input type="range" class="custom-range" value="1" min="1" max="5" step="1" id="slider" oninput=QueryForHopLayer(this.value)>
                        <p id="hopsVal">All</p>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item mb-2 rounded" id = "ResetButton" value = "reset" onclick = genderBasedFilter("")> <span class="fa fa-circle pr-1" id="reset"></span>Reset </li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="content-section-title">Recommendations</h4>
                </div>
                <div class="col-md-6">


                </div>
            </div>



              {% include "./FollowBody.html" %}





        </div>
      </div>
    </div>

    <script>
function myFunction() {
  document.getElementById("demo").innerHTML = document.getElementById("searchbox").value;
}

// MAKE AN AJAX CALL TO VIEWS.PY
        function nameQuery(name) {

            var text = "nq" +name



            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }

        function townQuery(town) {

            var town = "tq" +town



            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: town},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }

        function QueryForHopLayer(layer) {
            if(layer === "1"){
                document.getElementById('hopsVal').innerHTML = "All";
                layer = "All"
            } else{document.getElementById('hopsVal').innerHTML = layer; }
            lay = "lq" + layer

            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: lay},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });


        }




         function genderBasedFilter(value) {

             var gender = value;

             if ( value === ""){

                 document.getElementById('hopsVal').innerHTML = "All";
                 document.getElementById('slider').value = 1;

             }


            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: gender},
                success: function (response){
                    $('#test').html('').replaceWith(response)

                }

            });

        }

        $('#searchInputFieldName').on('keypress', function(e) {
            if (e.which == 13) {
                nameQuery($("#searchInputFieldName").val())
            }
        })

        $('#searchInputFieldTown').on('keypress', function(e) {
            if (e.which == 13) {
                nameQuery($("#searchInputFieldTown").val())
            }
        })









</script>

{% endblock content %}