.follow-heading{
  font-size: 2.5rem;
}

.follow-heading-text{
  font-size: 1rem;
}


 .list {
	 background: #fff;
	 border-radius: 2px;
	 list-style: none;
	 padding: 10px 20px;
	 overflow-y:scroll;
	 height: calc(100vh - 270px);
}
 .list-item {
	 display: flex;
	 margin: 10px;
	 padding-bottom: 5px;
     transition:background-color 0.01s;
    -webkit-transition:background-color 0.01s;
	 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	 overflow-y:scroll;

}

 .list-item:hover {
  background: #cecaca;
}

 .list-item:last-child {
	 border-bottom: none;
}
 .list-item-image {
	 border-radius: 50%;
	 width: 64px;
}

 .list-item-follow {
	 width: 64px;
}
 .list-item-content {
	 margin-left: 20px;
}
 .list-item-content h4, .list-item-content p .list-item-content follow-button{
	 margin: 0;
}
 .list-item-content h4 {
	 margin-top: 10px;
	 font-size: 18px;
}
 .list-item-content p {
	 margin-top: 5px;
	 color: #aaa;
}

 .list-item-content follow-button {
  margin-top: 5px;
}


input[type="text"]#searchbox {
    width: 900px;
}



.fixed {
    width: 200px;
	border-style: solid;
}


