.follow-heading{
  font-size: 2.5rem;
}

.follow-heading-text{
  font-size: 1rem;
}


.list-wrapper {
	 max-width: 400px;
	 margin: 50px auto;
}
 .list {
	 background: #fff;
	 border-radius: 2px;
	 list-style: none;
	 padding: 10px 20px;
}
 .list-item {
	 display: flex;
	 margin: 10px;
	 padding-bottom: 5px;
	 padding-top: 5px;
	 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
 .list-item:last-child {
	 border-bottom: none;
}
 .list-item-image {
	 border-radius: 50%;
	 width: 64px;
}

 .list-item-follow {
	 width: 64px;
}
 .list-item-content {
	 margin-left: 20px;
}
 .list-item-content h4, .list-item-content p .list-item-content follow-button{
	 margin: 0;
}
 .list-item-content h4 {
	 margin-top: 10px;
	 font-size: 18px;
}
 .list-item-content p {
	 margin-top: 5px;
	 color: #aaa;
}

 .list-item-content follow-button {
  margin-top: 5px;
}


input[type="text"]#searchbox {
    width: 900px;
}


.container {
    display:flex;
}
.fixed {
    width: 200px;
	border-style: solid;
}
.flex-item {
    background-color:#7887AB;
    flex-grow: 1;
}


/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}


.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
}


.float-child-left {
    width: 15%;
    float: left;
    padding: 10px;
}

.float-child-right {
    width: 15%;
    float: right;
    padding: 10px;
}

